body {
  background: #f8f8f8;
}

.product-card {
  border-radius: 10px;
  height: 100px;
  background: white;
}

.product-img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.btn-orange {
  background: orange;
  color: white;
}